body {
  /* margin: 0 auto; */
  padding: 0;
  margin: 0;

  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  background-color: rgb(39, 39, 39);
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, "Courier New",
    monospace;
  }
.headers{
  display: inline-flex;
  text-align: center;
  justify-content: space-around;
  padding: 0 ;
  align-items: center;
  width: 100%;
  height: 80px;
  background-color: rgb(255, 217, 000);
  overflow: hidden;
  font-family: 'Righteous', cursive;
  /* font-weight: bold; */
  
  
  }
  
  .headers img {
    width: 100px;
  }
  .container{
  display: flex;
  margin-top: 20px;
  text-align: center;
  height: 100%;
}
.test{
  
  display: inline-block;
  /* border-radius: 40px; */
  padding: 10px ;
  text-align: center;
  color: rgb(255, 217, 000);
  
}
.title{
  padding: 0;
  margin: 0;
  font-family: 'Rokkitt', serif;


}
.poster {
    border-radius: 50px;

}
.link{
  color: rgb(39, 39, 39);
  text-decoration: none;
}
.link:hover{
  font-weight: bold;
}
h1{
  color: rgb(255, 217, 000);
}
.footer{
  display: inline-flex;
  position:inherit;
  bottom:0;
  text-align: center;
  justify-content: space-around;
  padding: 0 ;
  align-items: center;
  width: 100%;
  height: 50px;
  background-color: rgb(255, 217, 000);
  overflow: hidden;
  /* font-weight: bold; */
}
.in{
  width: 40px;
}
.cr{
  width : 100px;
}
h3{
  font-weight: normal;
}