body {
  /* margin: 0 auto; */
  padding: 0;
  margin: 0;
width: 100%;
height: 100%;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  background-color: rgb(39, 39, 39);
}

div {
  border: 2px solid red;
}
code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, "Courier New",monospace;
  }
.headers{
  display: inline-flex;
  text-align: center;
  justify-content: space-around;
  padding: 0 ;
  align-items: center;
  width: 100%;
  height: 80px;
  background-color: rgb(255, 217, 000);
  overflow: hidden;
  font-family: 'Righteous', cursive;
  /* font-weight: bold; */
  
  
  }
  
  .headers img {
    width: 140px;
  }
  .headers img:hover{
    background-color: rgb(39, 39, 39);
  }
 
.test{
  
  /* display: flex; */
  /* border-radius: 40px; */
  /* flex-direction: column; */
  padding: 10px;
  text-align: center;
  color: rgb(255, 217, 000);
  
}

.fahad{
display: flex;
flex-wrap: wrap;
width: 100vw;
height: 100vh;
justify-content: space-around;
justify-content: flex-end;
}

.reem {
  display: flex;
  flex-wrap: wrap;
  flex-direction: row;
  /* width: 20%; */
}

.title{
  padding: 0;
  margin: 0;
  font-family: 'Rokkitt', serif;
  font-size: larger;
  color: rgb(255, 217, 000);
}

.poster {
  display: block;
  border-top-left-radius: 50px;
    border-bottom-right-radius: 30px;
    border-radius: 30px;
    -webkit-transition-duration: 0.2s;
    transition-duration: 0.2s;
}

.poster:hover{
  /* border-radius: 10px; */
  box-shadow: 0px 0px 20px rgb(255, 200, 000);

}
.link{
  color: rgb(39, 39, 39);
  text-decoration: none;
}
.link:hover{
  font-weight: bold;
}
h1{
  color: rgb(255, 217, 000);
}
.footer{
  display: inline-flex;
  text-align: center;
  justify-content: space-between;
  padding: 0 ;
  align-items: center;
  width: 100%;
  height: 50px;
  background-color: rgb(255, 217, 000);
  /* overflow: hidden; */
  /* font-weight: bold; */
}
.in{
  width: 40px;
}
.cr{
  width : 100px;
}
h3{
  font-weight: normal;
}
.showDetails{
  display: inline-flex;
  margin: 10px;
  padding: 0 auto;
}
.btnCont{
  position: relative;
  text-align: center;
  display: block;
}
.i{
    position: absolute;
    bottom: 25px;
    opacity: 20%;
    left: 0px; 
    width: 100% !important;
    height: 30px;
    background-color: rgb(255, 200, 000);
    border-bottom-right-radius: 80px ;
    border-bottom-left-radius: 80px ;

    border: rgb(255, 217, 000);
    -webkit-transition-duration: 0.2s;
    transition-duration: 0.2s;
}
.i:hover{
  opacity: 90%;
}
/* .ii{
    position: absolute;
    bottom: 50px;
    right: 50px;
    /* display: none; */
 */
/* .btn{
 display: flex;
  justify-content: space-around;
} */
.remove{
 border-radius: 2px;
}
.reset{
  border-radius: 4px;
 background-color: rgb(255, 217, 000);
 border: 0ch;

}
.fave{
  text-align: center;
}
.dalia{
  
}